/* Mobile: width < 740px <=> 46.1875em */
/* Tablet: width >= 740px and width < 1024px  <=> 63.9375em */
/* PC: width >= 1024px */

/* Mobile: width < 740px */
@media screen and (max-width: 46.1875em) {

	#logo-pc {
		display: none;
	}

	#logo-mobile {
		display: block;
	}

	.header__search {
		display: none;
	}

	.header__search-options-item {
		display: none;
	}

	.header__nav {
		display: none;
	}

	.nav__mobile-btn {
		display: flex;
	}

	.daterangepicker {
		display: none !important;
	}

	.owl-nav button.owl-prev,
	.owl-nav button.owl-next {
		width: 40px;
		height: 40px;
	}

	.owl-nav button.owl-prev {
		margin-left: -15px;
	}

	.owl-nav button.owl-next {
		margin-right: -15px;
	}

	#suggest-slider>.owl-nav {
		top: 35%;
	}

	.download-app__by-image {
		display: none;
	}
	
	.header-wrap {
		height: 80px;
	}
	
	.header__more {
		display: none;
	} 
	
	.main-v2 {
		padding-top: 80px;
	}
	
	.header__more.is-show {
		display: block;
	}
	
	.content-description { 
		margin-top: 24px;
	}
	
	.content__heading-link {
		width: 380px;
	}
	
	.content__room-img {
		height: 180px;
	}
	
	.welcome__login-title {
		font-size: 18px;
	}
	
	.welcome__login-desc {
		font-size: 13px;
	}
	
	.login__container {
		width: 100%;
		top: -20px;
	}
	
	.welcome__register-title {
		font-size: 18px;
	}
	
	.welcome__register-desc {
		font-size: 13px;
	}
	
	.register__container {
		width: 100%;
		top: -20px;
	}
	
	.footer-v2 {
		background: #f6f6f6;
	}
}

/* Tablet: width >= 740px and width < 1024px */
@media screen and (min-width: 46.1875em) and (max-width: 63.9375em) {
	.header__search {
		flex: none;
	}

	.header__nav {
		display: none;
	}

	.nav__mobile-btn {
		display: flex;
	}

	.daterangepicker {
		width: auto;
		left: 150px !important;
		right: 130px !important;
	}

	.daterangepicker .drp-calendar {
		float: left;
	}

	.download-app__by-image {
		display: none;
	}

	.app-download-qrcode {
        display: none;
	}

	.app-download-store {
		text-align: center;
	}
	
	.header-wrap {
		height: 80px;
	}
	
	.header__more {
		display: none;
	}
	
	.main-v2 {
		padding-top: 80px;
	}
	
	.header__more.is-show {
		display: block;
	}
	
	.content-description { 
		margin-top: 24px;
	}
	
	.content__heading-link {
		width: 310px;
	}
	
	.content__room-img {
		height: 180px;
	}
	
	.login__container {
		width: 100%;
		top: -40px;
	}
	
	.register__container {
		width: 100%;
		top: -40px;
	}
	
	.footer-v2 {
		background: #f6f6f6;
	}
}

/* PC: width >= 1024px and width < 1279px*/
@media screen and (min-width: 64em) and (max-width: 79.9375em) {
	.daterangepicker {
		width: auto;
		left: 117px !important;
	}

	.daterangepicker .drp-calendar {
		float: left;
	}
	
	.app-download-qrcode {
		width: 70px;
        height: 70px;
	}
}

/* PC: width >= 1280px */
@media screen and (min-width: 80em) and (max-width: 86.25em) {
	.daterangepicker {
		width: auto;
		left: 147px !important;
	}

	.daterangepicker .drp-calendar {
		float: left;
	}
}

@media screen and (min-width: 86.3125em) {
	.daterangepicker {
		width: auto;
		left: 275px !important;
	}

	.daterangepicker .drp-calendar {
		float: left;
	}
}